

.select{
  width: 700px;
  padding: 10px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 4px;
}

.options{
  padding: 8px;
}
.modal{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 30px;
  border: none;
  outline: none !important;
  background-color: rgb(252, 252, 252);
}
.submitbutton:hover{
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

